# Personal Movies Recommendation

## Imports

In [6]:
import pandas as pd
from src.svd import run_svd_pipeline

## Dataframe Creation

In [7]:
ratings = pd.read_csv("../data/processed/ratings.csv")
movies = pd.read_csv("../data/processed/movies.csv")

my_movies = pd.DataFrame({
    'item_id': [127, 182, 56, 178],
    'my_rating': [4, 5, 3, 3]
})

my_movies = my_movies.merge(movies[['item_id', 'title']], on='item_id')
print("You've Already Watched:\n")
display(my_movies[['title', 'my_rating']])

You've Already Watched:

                   title  my_rating
0  Godfather, The (1972)          4
1      GoodFellas (1990)          5
2    Pulp Fiction (1994)          3
3    12 Angry Men (1957)          3

## SVD Recommendation

In [8]:
# 4. Run SVD
user_id = 1  # Could be any dummy ID
top_k, _, _, _ = run_svd_pipeline(user_id=user_id, ratings_df=ratings, k=30)

# 5. Build recommendation DataFrame
recs_df = pd.DataFrame(top_k, columns=["item_id", "predicted_rating"])

# 6. Merge with movie titles
recs_df = recs_df.merge(movies[['item_id', 'title']], on="item_id")

# 7. Remove already-watched items
filtered_recs = recs_df[~recs_df['item_id'].isin(my_movies['item_id'])]

# 8. Show final top-N recommendations
top_n = 10
print(f"\nTop {top_n} Recommended Movies:\n")
display(filtered_recs[['title', 'predicted_rating']].head(top_n))

Top 10 Recommended Movies:

                                               title  predicted_rating
0                               Trainspotting (1996)          3.958260
1                  E.T. the Extra-Terrestrial (1982)          3.361876
2                                  Casablanca (1942)          3.263087
3                       Sense and Sensibility (1995)          3.241236
4                                    Heathers (1989)          3.226547
5                              Close Shave, A (1995)          3.159864
6                                 Stand by Me (1986)          3.128734
7                            Schindler's List (1993)          3.114066
8                                      Batman (1989)          3.072493
9  Dr. Strangelove or: How I Learned to Stop Worr...          2.949152

## Item-Based Collaborative Filtering Recommendation

In [9]:
from src.item_cf import run_item_cf_pipeline

# Run Item-Based CF
item_cf_top_k, _ = run_item_cf_pipeline(user_id=user_id, ratings_df=ratings, k=30)

# Convert to DataFrame
item_cf_df = pd.DataFrame(item_cf_top_k, columns=["item_id", "predicted_score"])

# Merge with movie titles
item_cf_df = item_cf_df.merge(movies[['item_id', 'title']], on='item_id')

# Filter out already-watched movies
item_cf_filtered = item_cf_df[~item_cf_df['item_id'].isin(my_movies['item_id'])]

# Show top-N item-based recommendations
print(f"\nTop {top_n} Item-Based CF Recommendations:\n")
display(item_cf_filtered[['title', 'predicted_score']].head(top_n))

Top 10 Item-Based CF Recommendations:

                              title  predicted_score
0         Further Gesture, A (1996)              5.0
1                 Mat' i syn (1997)              5.0
2                  B. Monkey (1998)              5.0
3              Sliding Doors (1998)              5.0
4       Big Bang Theory, The (1994)              5.0
5  Other Voices, Other Rooms (1997)              5.0
6                   Star Kid (1997)              5.0
7               Men of Means (1998)              5.0
8                 Tokyo Fist (1995)              5.0
9                  Hugo Pool (1997)              5.0

## User-Based Collaborative Filtering Recommendation

In [10]:
from src.user_cf import run_user_cf_pipeline

# Run User-Based CF
user_cf_top_k, _, _ = run_user_cf_pipeline(user_id=user_id, ratings_df=ratings, k=30)

# Convert to DataFrame
user_cf_df = pd.DataFrame(user_cf_top_k, columns=["item_id", "predicted_rating"])

# Merge with movie titles
user_cf_df = user_cf_df.merge(movies[['item_id', 'title']], on="item_id")

# Filter out already-watched movies
user_cf_filtered = user_cf_df[~user_cf_df['item_id'].isin(my_movies['item_id'])]

# Show top-N user-based recommendations
print(f"\nTop {top_n} User-Based CF Recommendations:\n")
display(user_cf_filtered[['title', 'predicted_rating']].head(top_n))

Top 10 User-Based CF Recommendations:

                                  title  predicted_rating
0                     Hard Eight (1996)               5.0
1                      Traveller (1997)               5.0
2                 Ice Storm, The (1997)               5.0
3               Double Happiness (1994)               5.0
4                       Faithful (1996)               5.0
5                         Caught (1996)               5.0
6          Endless Summer 2, The (1994)               5.0
7                          Faust (1994)               5.0
8                Pather Panchali (1955)               5.0
9  Saint of Fort Washington, The (1993)               5.0